 
  td,th,caption,tr,table{
    border-collapse: collapse;
    letter-spacing: 1px;
    border: 1px solid black ;
    padding: 20px;
  }
  
  tbody th {
    background-color: #D3D3D3;
    border: 1px solid;
    padding: 10px 20px;
  }

  caption {
  background-color: #D3D3D3;
  border: 1px solid;
  padding: 10px 20px;
  }
  tbody tr:nth-child(odd) {
    background-color: #A1D9E5;} 
  
  
  tbody tr:nth-child(even) {
    background-color:#6EEC8E;}    
  
  td {
    text-align: center;
  }
  
  tfoot {
    font-size: 90%;
    font-style: italic;
    
  }
 